* {
    font-family: "Montserrat";
}

html,
body,
#app {
    height: 100%;
}

#app {
    display: grid;
    grid-template-rows: 56px 1fr 100px;
}

.footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #fefaef;
}

@media (max-width: 576px) {
    .imgbanner {
        max-width: 450px;
    }
}

@media (min-width: 768px) {
    .imgbanner {
        width: 230px;
    }
}

@media (min-width: 1200px) {
    .imgbanner {
        transition: transform 0.3s ease;
    }

    .imgbanner:hover {
        transform: scale(1.1);
    }
}

.mostaza {
    color: #ca8e5e;
    font-style: italic;
    font-family: "Playfair Display";
    font-weight: bold;
}

.bglibros.row {
    background-color: #24262b;
}

.mosta {
    color: #ca8e5e;
}

.imgtamano {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.imgtamano:hover {
    transform: scale(1.1);
}

.btnespecial {
    background-color: #ca8e5e;
    border-radius: 5px;
    border: none;
    padding: 0.6rem;
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btnespecial:hover {
    background-color: #d8ae8b;
}

.bgsuscripcion {
    background-image: url("../images/home/ilustracion-suscripcion.png");
    background-repeat: no-repeat;
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2.row {
    text-align: center;
    background: #f7f7f7;
}
#cards_landscape_wrap-2 .container {
    padding-top: 80px;
    padding-bottom: 100px;
}
#cards_landscape_wrap-2 a {
    text-decoration: none;
    outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(191, 147, 147, 0.5);
    border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    width: 100%;
    height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
    text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
    padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer {
    background: #24262b;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#cards_landscape_wrap-2 .card-flyer:hover {
    background: #24262b;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    color: whitesmoke;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: bold;
    color: #ca8e5e;
}

.text-container {
    max-height: 400px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.cascading-right {
    margin-right: -50px;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    box-shadow: none;
    outline: none;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}


.frontside .card {
    width: 100%;
    height: 100%;
}

.libroslogin{
    width: 90%;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

.p-carrousel{
    padding: 0 3rem;

}

@media (min-width: 1024px) {
    .p-carrousel {
        padding: 0rem;
        padding-right: 12rem;
    }
}


@media (min-width: 1024px) {
    .cardLibros{
        min-height: 820px;
    }
}
